body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#introSection {
  position: relative;
  height: 100vh; /* 100% of the viewport height */
  overflow: scroll;
}

#introSection video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

#logosContainer {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Add styling for other sections as needed */
#selectCharacterSection,
#takePhotoSection {
  padding: 20px;
}

#targetImagesContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.thumbnail {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  margin: 10px;
}

/* Add any additional styling for other elements as needed */
